.home-page-container {
  width: 100vw;
  height: 100vh;
}

.home-link {
  text-decoration: none;
  color: #000;
}
.logout-button {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 32px;
  width: 73px;
  border-radius: 8px;
  background-color: #f7931e;
  border: none;
  cursor: pointer;
  outline: none;
}

.body-container {
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}
