.each-restorent-main-container {
  display: flex;
}

.each-rst-container {
  background-color: #334155;
  /* background-image: url('https://res.cloudinary.com/dwdq2ofjm/image/upload/v1716725874/Rectangle_1399_f101ml.png'); */
  background-size: cover;
  height: 40vh;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.each-item-logo-icon {
  width: 445px;
  height: 280px;
  top: 176px;
  left: 165px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
}
.header-text-container-in-res {
  color: #ffffff;
}

.rating-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
}
.rating {
  display: flex;
  height: 20px;
  align-items: center;
  gap: 8px;
}
.amount {
  margin: 0px;
  height: 18px;
  top: 364px;
  left: 778px;
  gap: 0px;
  opacity: 0px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.horizential-line {
  height: 50px;
  width: 1px;
  border: 1px solid;
}
.discription {
  height: 24px;
  top: 292px;
  left: 640px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.start-icon {
  width: 12px;
  height: 12px;
  top: 366px;
  left: 640px;
  gap: 0px;
  opacity: 0px;
}
.rating-count {
  width: 22px;
  height: 16px;
  top: 364px;
  left: 656px;
  gap: 0px;
  opacity: 0px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}
.reviews-count {
  width: 74px;
  height: 16px;
  top: 384px;
  left: 640px;
  gap: 0px;
  opacity: 0px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #e2e8f0;
  margin: 0px;
}
.food-items {
  display: flex;
  flex-wrap: wrap;
  margin: 24px;
  align-items: center;
  justify-content: flex-end;
}
.each-food-container {
  width: 40%;
  height: 100%;
  display: flex;
  gap: 10px;
  margin: 10px;
}

.food-cost {
  height: 24px;
  top: 598px;
  left: 450px;
  gap: 0px;
  opacity: 0px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin: 0px;
  color: #334155;
}
.each-rating-container-1 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.rating-text {
  margin: 0px;
  color: #0a1f44;
}

.add-food-button {
  width: Hug (58px) px;
  height: Hug (32px) px;
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 8px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  border: 2px solid #ffa412;
  color: #ffa412;
  background-color: transparent;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  cursor: pointer;
}
.each-restaurant-image {
  width: 12vw;
  height: 12vh;
  border-radius: 10px;
}

.each-restaurant-heading {
  width: 50vw;
  height: 24px;
  top: 755px;
  left: 341px;
  gap: 0px;
  opacity: 0px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #334155;
  margin: 0px;
}

@media (max-width: 767px) {
  .each-rst-container {
    background-image: url('https://res.cloudinary.com/dwdq2ofjm/image/upload/v1716725874/Rectangle_1399_f101ml.png');
    background-size: cover;
    /* height: 40vh; */
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 188px;
    top: 64px;
    gap: 0px;
    opacity: 0px;
  }
  .each-item-logo-icon {
    width: 46%;
    height: 180px;
    top: 176px;
    left: 165px;
    gap: 0px;
    border-radius: 8px;
    opacity: 0px;
    margin-right: 10px;
  }
  .each-res-list-heading {
    /* width: 89px; */
    /* height: 24px; */
    top: 96px;
    left: 169px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #ffffff;
    margin: 0px;
  }
  .discription {
    width: 154px;
    height: 16px;
    top: 128px;
    left: 169px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #ffffff;
    margin: 0px;
    margin-bottom: 10px;
  }
  .rating-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 0px;
  }
  .heading-rating {
    margin-top: 42px;
  }
  .rating {
    display: flex;
    /* height: 20px; */
    align-items: center;
    gap: 8px;
  }
  .amount {
    margin-left: 10px;
  }
  .amount-count {
    margin-left: 10px;
  }
  .food-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0px;
  }
  .each-food-container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    margin: 10px;
  }
  .each-restaurant-image {
    width: 160px;
    height: 100px;
    top: 284px;
    left: 24px;
    gap: 0px;
    border-radius: 5.02px;
    opacity: 0px;
  }
  .each-restaurant-heading {
    /* width: 113px; */
    /* height: 24px; */
    top: 287px;
    left: 200px;
    gap: 0px;
    opacity: 0px;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #334155;
  }
  .food-cost {
    /* width: 57px; */
    height: 16px;
    top: 439px;
    left: 200px;
    gap: 0px;
    opacity: 0px;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #334155;
  }
  .add-food-button {
    width: Hug (42.17px) px;
    height: Hug (23.59px) px;
    padding: 5.79px 11.59px 5.79px 11.59px;
    gap: 5.79px;
    border-radius: 5.79px;
    border: 1.45px;
    opacity: 0px;
    border: 1.45px solid #ffa412;
  }
  .pagination-container {
    margin-top: 10px;
  }
}
