.add-cart-home-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.order-result {
  margin: auto;
}
.cart-details-not-fond-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.place-order-button {
  width: Hug (99px) px;
  height: Hug (32px) px;
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 8px;
  border: 0;
  opacity: 0px;
  background: #f7931e;
  gap: 0px;
  opacity: 0px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
}
