.offer-image {
  height: 36vh;
}

.products-loader-container {
  width: 100vw;
  text-align: center;
}

.offers-container {
  /* width: 100vw; */
  height: 300px;
  text-align: -webkit-center;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .offer-image {
    height: 188px;
    width: 100%;
  }
  .offers-container {
    height: 150px;
  }
}
