.home-page-container {
  width: 100vw;
  height: 100vh;
}

.website-logo-desktop-img {
  width: 53px;
}

.logo-text-styles {
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  height: 32px;
  top: 341px;
  left: 307px;
  gap: 0px;
  opacity: 0px;
  color: #f7931e;
  margin: 0px;
  width: 20vw;
}

.heading-styles {
  width: 100%;
  height: 86px;
  top: 2px;
  gap: 0px;
  opacity: 0px;
  background: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 130px;
}

.home-link {
  text-decoration: none;
  color: #000;
}
.logout-button {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 32px;
  width: 73px;
  border-radius: 8px;
  background-color: #f7931e;
  border: none;
  cursor: pointer;
  outline: none;
}

.heading-text-styles {
  /* width: 100%; */
  height: 86px;
  top: 2px;
  gap: 0px;
  opacity: 0px;
  background: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  margin-right: 130px;
}

.offers-container {
  /* width: 100vw; */
  height: 300px;
  text-align: -webkit-center;
  margin-top: 20px;
}
.short-by {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10vw;
}

.body-container {
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.all-restaurants-container {
  width: 82vw;
  margin-left: 130px;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.popup-container {
  background-color: transparent;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  background: rgba(52, 64, 84, 0.7);
  backdrop-filter: blur(1px);
}
.closing-container {
  background-color: #fff;
  width: 40vw;
  height: 30vh;
  margin: auto;
  color: #000;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.trigger-button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: #000;
  outline: none;
  border: 1px solid #000;
}
